{% extends 'base.html' %}
{% block students_details_over_10_ects %}

<h3> Students with More Than 10 ECTS </h3>
<hr>

{% if request.user.role.name == "Administrator" %} 
<a class="btn btn-primary" href="{% url 'students_passed_over_10_ects' %}"> <i class="fa fa-arrow-left"></i> Back </a>
<br> <br>
{% endif %}


<h2> Regular </h2>

<table class="table">
    <tr>
        <th> First name </th>
        <th> Last name </th>
        <th> Email </th>
        <th> Status </th>
    </tr>

    {% for student in qualifying_students %}
        {% if student.status == 'Regular' %}
            <tr>
                <td> {{ student.first_name }} </td>
                <td> {{ student.last_name }} </td>
                <td> {{ student.email }} </td>
                <td> {{ student.status }} </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
<br> <br>

<h2> Part time </h2>

<table class="table">
    <tr>
        <th> First name </th>
        <th> Last name </th>
        <th> Email </th>
        <th> Status </th>
    </tr>

    {% for student in qualifying_students %}
        {% if student.status == 'Part time' %}
            <tr>
                <td> {{ student.first_name }} </td>
                <td> {{ student.last_name }} </td>
                <td> {{ student.email }} </td>
                <td> {{ student.status }} </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

{% endblock %}
